<h1>Edit Board</h1>
<hr />
<%= form_for @board do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.label :priority %>
  <%= f.text_field :priority, required: true %>
  <%= f.submit %>
<% end %>

