<h1>Boards Index</h1>
<div class='boards'>
  <% i = 1 %>
  <% @boards.order('priority').each do |board| %>
    <% board_class = board.name %>
    <div class="<%= board_class %>">
      <h4><strong>Name:</strong> <%= board.title %></h4>
      <hr/>
      <% board.lists.order('priority').each do |list| %>
        <p><%= list.name %> | <%= list.desc %></p>
      <% end %>
      <%= button_to 'Increase Priority', board_move_up_path(board), method: :put %>
      <%= button_to 'Decrease Priority', board_move_down_path(board), method: :put %>
      <%= button_to 'Edit Board Detail', edit_board_path(board) %>
      <%= button_to 'Delete Board', board, method: :delete %>
    </div>
  <% end %>
</div>